.screen {
    height:60px;
    width:300px;
    
}

.greenBtn {
    height:60px;
    width:75px;
    
}

.orangeBtn {
    height:60px;
    width:75px;
    
}

.blueBtn {
    height:60px;
    width:75px;
    
}

.bigGreenBtn {
    height:60px;
    width:150px;
    
}