.screen {
    height:80px;
    width:272px;
    border: 8px solid black;
    background-color: grey;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 8px;
    padding-right: 8px;
}

.greenBtn {
    height:60px;
    width:75px;
    font-size: 20px;
    background-color: rgb(66, 199, 126);
    border: 2px solid black
}

.orangeBtn {
    height:60px;
    width:75px;
    font-size: 20px;
    background-color: #FF8F1F;
    border: 2px solid black
}

.blueBtn {
    height:60px;
    width:75px;
    font-size: 20px;
    background-color: dodgerblue;
    border: 2px solid black
}

.bigGreenBtn {
    height:60px;
    width:150px;
    font-size: 20px;
    background-color: rgb(66, 199, 126);
    border: 2px solid black
}

.rowOne {
    display:flex;
}

.rowTwo {
    display:flex;
}

.rowThree {
    display:flex;
}

.rowFour {
    display:flex;
}

.rowFive {
    display:flex;
}

.buttonHolder {
    border: 2px solid black;
    border-top: 0;
    width:300px
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:300px;
}

html {
    background-color: darkgrey;
}